<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>Spring Cloud Demo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <script src="jquery/jquery-3.2.1.min.js"/>
    <script src="js/bootstrap.min.js"/>
</head>

<body>
<h1 class="text-center">Spring Cloud Demo</h1>
<div class="panel panel-primary container col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
    <form action="/login" method="post" role="form"
          class="panel-body">
        <div class="row">
            <div class="form-group">
                <label class="control-label text-left" for="username">UserName</label>
                <input id="username" type="text" class="form-control" name="username"
                       placeholder="input username"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label text-left" for="password">Password</label>
                <input id="password" type="text" class="form-control" name="password"
                       placeholder="input password"/>
            </div>
        </div>
        <button type="submit" class="btn btn-default">submit</button>
    </form>
</div>
</body>
</html>
