<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Spring Cloud Demo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
<h1 class="text-center">Spring Cloud Demo</h1>
<h2 class="text-center">product</h2>
<table>
    <tr>
        <td th:text="${product.id}">id</td>
        <td th:text="${product.name}">name</td>
        <td th:text="${product.price}">price</td>
        <td th:text="${product.desc}">desc</td>
    </tr>
</table>
</body>
</html>
