<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Spring Cloud Demo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
<h1 class="text-center">Spring Cloud Demo</h1>
<h2 class="text-center">product list</h2>
<table border="1">
    <tr th:each="product,productStat:${products}">
        <td>id</td>
        <td th:text="${product.id}"></td>
        <td>name</td>
        <td th:text="${product.name}"></td>
        <td>price</td>
        <td th:text="${product.price}"></td>
        <td>desc</td>
        <td th:text="${product.desc}"></td>
    </tr>
</table>
</body>
</html>
